<% include partials/header %>
<% include partials/navbar %>
<div class= "ui main container">
  <h1>Blogs page</h1>
  <% blogs.forEach(function(blog){ %>
    <div>
      <h2><%= blog.title %></h2>
      <img src="<%= blog.image %>">
      <span> <%= blog.created %></span>
      <% if (typeof blog.body == 'undefined' ) { %>
            <p> no content</p>
        <% } else { %>
            <p> <%= blog.body.substring(0, 100) %>...</p>
        <% } %>

      <a href="/blogs/<%= blog._id %>">Read More</a>
    </div>
  <% }) %>
</div>
<% include partials/footer %>
